name: Deploy static site per branch

on:
  workflow_dispatch:
  push:
    branches:
      - 'kp[0-9]+'

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare deployment
        run: |
          branch="${GITHUB_REF_NAME}"
          mkdir -p dist/$branch
          # Копируем всё, кроме .git, .github и dist
          find . -maxdepth 1 \
            ! -path './.git' \
            ! -path './.github' \
            ! -path './dist' \
            -exec cp -r {} dist/$branch/ \;
          echo '<meta http-equiv="refresh" content="0; url=index.html">' > dist/$branch/404.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: dist
